:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --primary-color: #49a0eb;
  --secondary-color: #63edff;
  --danger-color: red;
  --icon-badge-color: #209bab;
  --icon-button-color: lavenderblush;
  --icon-badge-number-bg: lightblue;
  --icon-badge-number: black;
  --icon-button: #333333;
}
.wrapper {
  position: relative;
  width: 100%;
  min-height: 38rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* vertical card */
.card-component {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-margin {
  margin: 2rem;
}
.card-horizontal {
  display: flex;
  flex-direction: row;
  width: 55rem;
  max-height: 31rem;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card-data {
  width: 40rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.img-horizontal {
  width: 20rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 0.5rem;
  border-radius: 5%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* .card-body{
            font-size:2rem;
            margin:0.5rem;
        } */
.card-title {
  font-size: 3rem;
  margin: 0.4rem;
}
.original-price {
  font-size: 2rem;
}
.price {
  font-size: 2rem;
}
.discount-price {
  font-size: 2rem;
}
.btn-container-horizontal {
  margin-left: -0.3rem;
  margin: 0.5rem;
}
.card-content {
  font-size: 2rem;
  margin-left: 0.8rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
/* card with price details */
.price-details {
  width: 35rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: 0.1rem solid grey; */
}
.price-details h1 {
  border-bottom: 0.1rem solid grey;
  padding: 1rem;
  margin: 1rem;
}
.price-details h3 {
  margin: 0rem;
  font-size: 1.6rem;
}
.price-details p {
  margin: 1rem;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.button-container {
  width: 95%;
}
.pricing-column {
  align-items: center;
  margin: 1rem;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid grey;
}
.pricing-amount-before-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing-amount-before-discount {
  padding: 0.5rem;
}
.pricing-amount-before-discount p {
  margin-right: 0.7rem;
}

/* card with exit button */

.card-exit {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-right: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}
.cross-image {
  max-height: 30rem;
  object-fit: fill;
}
.exit-button:hover {
  background: cadetblue;
}
.card-img img {
  width: 100%;
  height: 30rem;
}
.cart-button {
  padding: 0.8rem;
  border: none;
  outline: none;
  background: black;
  color: cornsilk;
}
.cart {
  margin: 1rem;
  padding: 1rem;
}

.card-body,
.original-price,
.discount-price,
.price {
  font-size: 2rem;
}
/* card with text overlay */
.overlay-card {
  font-family: monospace;
  padding: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: white;
  display: grid;
  width: 30rem;
}
.content h3 {
  margin-bottom: -1rem;
}
.content h4 {
  margin-bottom: -0.5rem;
}
.content {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: black;
  font-size: 2rem;
  box-sizing: border-box;
  margin-bottom: 10rem;
}
.content .price,
.original-price,
.discount-price {
  font-size: 1.5rem;
}
/* .button{
            display:inline-flex;
            justify-content:flex-end;
            flex-direction:column;
             width:100%;
            height:100%; 
            padding:1rem;
            color:black;
            font-size:2rem;
            box-sizing:border-box;
        } */
.content,
.background {
  grid-column: 1/2;
  grid-row: 1/2;
}
.tag {
  margin: 1rem;
  grid-area: 1/-1;
  background-color: orange;
  align-self: start;
  justify-self: end;
  padding: 1rem;
  border-radius: 5%;
  font-size: 1.5rem;
}
.overlay-image {
  max-inline-size: 100%;
  block-size: 100%;

  object-fit: contain;
}
.button-container-card {
  padding: 1rem 2rem;
  margin: 1rem;
  width: 95%;
  font-weight: 500;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem 1rem 1rem 1rem;

  color: black;
  font-family: "roboto";
}
.primary-button {
  background-color: #49a0eb;
  width: 95%;
}
.opaque-button {
  background-color: khaki;
  width: 50%;
  margin-bottom: -0.3rem;
}
.secondary-button {
  background-color: khaki;
}

/* button component */

.button-container-button {
  padding: 1rem 2rem;
  margin: 1rem;
  display: inline-block;
  width: 15rem;
  font-weight: 800;
  font-size: 1.8rem;
  border: none;

  border-radius: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  color: black;
  font-family: "roboto";
}
.primary-button {
  background-color: var(--primary-color);
}
.secondary-button {
  background-color: var(--secondary-color);

  background-color: #49a0eb;
}
.secondary-button {
  background-color: #63edff;
  color: black;
  font-family: "roboto";
}
.danger-button {
  background-color: var(--danger-color);
  background-color: red;
  color: white;
  font-family: "roboto";
}
.toggle-button {
  position: relative;
  width: 16rem;
  height: 5rem;
  border: none;
  background-color: var(--secondary-color);
  color: black;
  font-family: "roboto";
}
.icon-badge-number {
  position: absolute;
  top: 0;
  right: -2.1rem;
  width: 2.2rem;
  height: 2.2rem;
  background: var(--icon-badge-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.toggle-badge {
  width: 16rem;
  height: 5rem;
  position: relative;
}
.hide {
  display: none;
}
.floating-action-button {
  margin-top: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  z-index: 1;
}
.floating-action-button-small {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
}
.floating-action-button:hover,
.floating-action-button-small:hover {
  background-color: var(--secondary-color);
}
.floating-action-img {
  width: 100%;
  object-fit: contain;
  align-items: center;
}

/* badge */
.notification {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  color: var(--icon-button);
  background: var(--icon-button-color);
  border: none;
  outline: none;
  border-radius: 50%;
}
.icon-img {
  width: 100%;
}
.icon-badge-number {
  position: absolute;
  top: 0;
  right: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--icon-badge-number-bg);
  color: var(--icon-badge-number);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* various types of input */
#user-input {
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
  height: 2.5rem;
}
#user-choice-radio {
  padding: 0.5rem;
  margin: 1rem;
}
#user-choice-check {
  padding: 0.5rem;
  margin: 1rem;
}
.input-label {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.user-radio {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.user-checkbox {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.user-input-warning {
  border: 0.1rem solid red;
}

/* alerts  */
.alert {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
  margin: 0.5rem;

  background-color: #209bab;
}
.alert img {
  width: 2.5rem;
  padding: 0.5rem;
  color: pink;
}
.alert-msg {
  font-size: 2rem;
}
.success-info {
  background-color: green;
}
.warning-info {
  background-color: yellow;
}

/* sidebar */
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25rem;
  background-color: grey;
  height: 100vh;
}
.side-bar h1 {
  margin: 1rem;
}
.side-bar h2 {
  font-size: 1.7rem;
  margin: 1rem;
  border-bottom: 1px solid black;
}
.side-bar-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

#user-choice-radio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
#user-choice-check {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
}
.category-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
}
.sort-by-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}
#user-choice-range {
  border: 2px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* navbar */
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
.navbar {
  width: 100%;
  height: 8rem;
  background-color: #49a0eb;
  display: flex;
  justify-content: center;
}
.navbar .brand {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  color: black;
  margin-left: 2rem;
}

.navbar .leftside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 0;
  flex: 60%;

  /* align-items:center; */
}
.navbar .leftside .links {
  display: flex;
}
.navbar .leftside .links a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  margin-left: 3rem;
}
.navbar .rightside {
  display: flex;
  flex: 50%;
  max-height: 8rem;
  align-items: center;
  margin-right: 1rem;
  justify-content: flex-end;
}
.navbar .rightside input {
  width: 25rem;
  height: 3.5rem;
}
.navbar .rightside button {
  height: 3.65rem;
  width: 5rem;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
}
